@use "./variables" as variables;
$color: variables.$color;

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: map-get($color, black);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Momo Trust Display", sans-serif;
    font-style: normal;
}

h1 { font-weight: 400; margin-bottom: 15px; }
h2 { font-weight: 400; margin-bottom: 10px; }
h3 { font-weight: 500; }
h4 { font-weight: 500; }