.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}