.button {
    padding: 8px 15px;
    background-color: rgb(35, 212, 212);
    color: black;
    text-decoration: none;
    border-radius: 999px;
    border: none;
}

.link {
    color: blue;
    text-decoration: underline;
}

.transparent {
    text-decoration: none;
    color: black;
}