.button {
    padding: 8px 15px;
    background-color: var(--primary);
    color: black;
    text-decoration: none;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.link {
    color: var(--black);
    text-decoration: underline;
}

.transparent {
    text-decoration: none;
    color: black;
}